.card4 {
    height: 160vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 3%;
    margin-left: 20%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border: 2px solid white;
    border-radius: 5px;
    overflow-x: hidden; 
  }
  
  .bizz {
    margin-left: 35%;
  }
  .result-container{
    margin-top: 5%;
  }
  
  .card10 {
    height: 50vh;
    width: 42%;
    justify-content: center;
    align-items: center;
    background-color:#f1f3f8;
    margin-top: 2%;
    margin-left: 5%;
    color: black;

    overflow-y: auto;
    border: 2px solid  #e2e8f5;
    border-radius: 25px;
    padding: 10px;
  }
  
  .card10 ul {
    padding-left: 20px;
  }
  
  .card10 li {
    margin-bottom: 10px;
    list-style-type: disc;
  }
  
  .card10 p {
    margin: 0;
    display: block;
  }
  
  .card11 {
    height: 50vh;
    width: 42%;
    justify-content: center;
    align-items: center;
    background-color:#f8f5ea;
    margin-top: 2%;
    margin-left: 3%;
    color: black;

    overflow-y: auto;
    border: 2px solid #faeee6;;
    border-radius: 25px;
    padding: 10px;
  }
  
  .card11 ul {
    padding-left: 20px;
  }
  
  .card11 li {
    margin-bottom: 10px;
    list-style-type: disc;
  }
  
  .card11 p {
    margin: 0;
    display: block;
  }
  
  .both {
    display: flex;
  }
  
  .card12 {
    height: 50vh;
    width: 42%;
    justify-content: center;
    align-items: center;
    background-color:#f4faf0;
    margin-top: 3%;
    margin-left: 5%;
    color: black;

    overflow-y: auto;
    border: 2px solid #f5efeb;
    border-radius: 25px;
    padding: 10px;
  }
  
  .card12 ul {
    padding-left: 20px;
  }
  
  .card12 li {
    margin-bottom: 10px;
    list-style-type: disc;
  }
  
  .card12 p {
    margin: 0;
    display: block;
  }
  
  .card13 {
    height: 50vh;
    width: 42%;
    justify-content: center;
    align-items: center;
    background-color:#f8ede6;
    margin-top: 3%;
    margin-left: 3%;
    color: black;

    overflow-y: auto;
    border: 2px solid #f0e6df;
    border-radius: 25px;
    padding: 10px;
  }
  
  .card13 ul {
    padding-left: 20px;
  }
  .align{
    padding-left: 10px;
  }
  
  .card13 li {
    margin-bottom: 10px;
    list-style-type: disc;
  }
  
  .card13 p {
    margin: 0;
    display: block;
  }
  
  .weakness-item {
    display: block;
    margin-bottom: 10px;
  }
  
  .card11 .weakness-item {
    display: inline-block;
    white-space: pre-line;
  }
  
  .card11 li p {
    white-space: pre-wrap;
  }
  
  .strengths{
    padding-bottom: 4%;
    font-size: 23px;
    transition: transform 0.3s ease-in-out;
  padding-left: 10px;
    font-weight: bold;
    color: blue;
  
  }
  .weakness{
    padding-bottom: 4%;
    font-size: 23px;
    transition: transform 0.3s ease-in-out;
    padding-left: 10px;
    font-weight: bold;
    color: #5e5507a6;
 
  }
  .opportunity{
    padding-bottom: 4%;
    font-size: 23px;
    transition: transform 0.3s ease-in-out;
    padding-left: 10px;
    font-weight: bold;
    color: #228B22;
 
  }
  .threats{
    padding-bottom: 4%;
    font-size: 23px;
    transition: transform 0.3s ease-in-out;
    padding-left: 10px;
    font-weight: bold;
    color: #F8731B;
   
   
  }
  .business{
    font-size: 18px;
    margin-left: 1%;
   
  }
  .size{
    font-size: 18px;
    margin-left: 1%;
   
  }

  .product{
    font-size: 18px;
  margin-left: 1%;
  }

  
  .result-container .label {
    font-weight: bold;
    margin-left: 40%;
    color: #f86c0f;
    font-size: 19px;
  }
  
  .result-container .business-value {
    font-style: italic;
    /* Add your desired styles for the business value here */
  }
  
  @media (min-width: 480px) and (max-width: 1024px) {
    .card4 {
      height: auto;
      width: 75%;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-top: 3%;
      margin-left: 14%;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      border: 2px solid white;
      border-radius: 5px;
      overflow-x: hidden; 
    }
    .result-container .label {
      font-weight: bold;
      margin-left: 40%;
      color: #f86c0f;
      font-size: 19px;
    }
    .business{
      font-size: 18px;
      margin-left: 40%;
     
     
    }
    .size{
      font-size: 18px;
      margin-left: 40%;
     
    }
  
    .product{
      font-size: 18px;
      margin-left: 40%;
    }
  .result-container{
    margin-top: 20%;
  }

    
  }
  
  @media (min-width: 300px) and (max-width: 500px) {
    .card4 {
      height: auto;
      width: 75%;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-top: 13%;
      margin-left: 14%;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      border: 2px solid white;
      border-radius: 5px;
      overflow-x: hidden; 
    }
    .result-container .label {
      font-weight: bold;
      margin-left: 40%;
      color: #f86c0f;
      font-size: 19px;
    }
    .business{
      font-size: 18px;
      margin-left: 40%;
     
     
    }
    .size{
      font-size: 18px;
      margin-left: 40%;
     
    }
  
    .product{
      font-size: 18px;
      margin-left: 40%;
    }
  .result-container{
    margin-top: 30%;
  }
  }